<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="prefs.html" />
  <head>
    <title>Access Tokens</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid-theme.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.4.1/jsgrid.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
  </head>
  <body>
    <p class="hint">
        Make sure to copy your new personal access token now. You won’t be able to see it again!
    </p>
    <p>
      <label>Token description
        <input id="tokens" type="hidden" name="tokens" value="${tokens}" />
        <input id="tokenDesc" name="tokenDesc" value="" />
        <input type="button" id="newToken" name="newToken" value="New Token" />
        <input id="clipboard" type="text" style="width: 250px" />
        <input id="copy1" class="btn" type="button" value="Copy to clipboard" data-clipboard-demo="" data-clipboard-target="#clipboard" />
      </label>
    </p>
    <p>
      <div id="tokenGrid"></div>
    </p>
  </body>
</html>
